.container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: #F2C1AE;
}
.img {
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-left: 20px;
}
.as {
    margin-left: -230px;
    display: flex;
    align-items: center;
    font-size: 20px;
}
.as ul {
    width: 400px;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 20px;
}
.as ul a {
    text-decoration: none;
    padding-left: 20px;
}

.boton {
    padding-right: 30px;
}

.boton button {
    color: white;
    background-color: chocolate;
    border-color: rgb(224, 152, 101);
}
.clase1 {
    color: red;
}
.clase2 {
    color: blue;
}